@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24 80% 61%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 24 20% 95%;
    --secondary-foreground: 24 40% 20%;
    --muted: 24 20% 95%;
    --muted-foreground: 24 10% 40%;
    --accent: 24 20% 95%;
    --accent-foreground: 24 40% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 24 20% 90%;
    --input: 24 20% 90%;
    --ring: 24 80% 61%;
    --radius: 0.5rem;
    --chart-1: 24 80% 61%;
    --chart-2: 204 70% 40%;
    --chart-3: 264 60% 50%;
    --chart-4: 144 60% 40%;
    --chart-5: 324 70% 50%;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 24 80% 61%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 24 20% 15%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 24 20% 15%;
    --muted-foreground: 24 10% 70%;
    --accent: 24 20% 15%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 24 20% 15%;
    --input: 24 20% 15%;
    --ring: 24 80% 61%;
    --chart-1: 24 80% 61%;
    --chart-2: 204 70% 50%;
    --chart-3: 264 60% 60%;
    --chart-4: 144 60% 50%;
    --chart-5: 324 70% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}


body,
html {
  @apply w-full h-full;
}


/* Hide the arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Hide the arrows in Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the arrows in Internet Explorer */
input[type="number"] {
  -ms-appearance: textfield;
}



/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 6px;
  background:
    conic-gradient(from 135deg at top, currentColor 90deg, #0000 0) 0 calc(50% - 4px)/17px 8.5px,
    radial-gradient(farthest-side at bottom left, #0000 calc(100% - 6px), currentColor calc(100% - 5px) 99%, #0000) top right/50% 50% content-box content-box,
    radial-gradient(farthest-side at top, #0000 calc(100% - 6px), currentColor calc(100% - 5px) 99%, #0000) bottom /100% 50% content-box content-box;
  background-repeat: no-repeat;
  animation: l11 1s infinite linear;
}

@keyframes l11 {
  100% {
    transform: rotate(1turn)
  }
}